
@page {

    size: A4;
    margin: 60px 40px 60px 40px;

    @top-center {
      content: element(header);
    }
}

body {
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 12px;
    margin: 40px;
}

header {
    position: running(header);
    text-align: center;
    margin-top: 40px;
}

.invoice-info, .customer-info {
    margin-top: 60px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

.total {
    text-align: right;
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
}